/* 
font-family: 'Alegreya Sans SC', sans-serif;
font-family: 'Allerta Stencil', sans-serif;
font-family: 'Yatra One', cursive; 
*/

body{
    background-image: url("images/background3.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
nav{
    margin: 2% 0;
    padding-left: 2%;
}
.container-lg {
    opacity: 0.85;
    background-image: url("images/inputBackground.jpg");
}
.container-heading {
    text-align: center;
}
.input-label {
    width: 25%;
    margin: .5%;
}
.input-label-child {
    width: 45%;
    margin: .5%;
    padding-right: 1%;
    text-align: end;
}
.input-label-center {
    margin: .5%;
    padding-right: 1%;
    text-align: center;
    width: 100%;
}
.form-control {
    width: 50%;
}
.single{
    width: 25%;
    margin: 0 37.5%;
}
.grid {
    width: 50%;
}
.eval {
    width: 45%;
    margin: 2% 27.5%;
}
.result{
    text-align: end;
}
.headingText {
    font-family: 'Allerta Stencil', sans-serif;
}
